.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}
.post-card{
  margin: 20px 50px;
width: 20rem;
}
.hashtag{
  margin: 0px 3px;
}
.reactions{
  width: 29px;
}
.create-post{
  width: 80%;
  margin-left: 10%;
}