h1{
  margin: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 45px;
}
input{
width: 100;
}
.item-container{
  text-align: left;
}
.kg-button{
  margin: 10px;
}
.kg-row{
  margin: 10px 5px;
}